doctype 
html
    head 
        title About
        style 
            include ../static/about.css
    
    body 
        div.black
        div.about
            img(src="../static/images/blog.jpeg",width=600,height=600)
            div.aboutcontent
                h1 BLOGOSPHERE BLISS
                p "Blogosphere bliss" refers to a state of happiness or contentment experienced within the blogosphere, which encompasses all the blogs and bloggers on the internet. It suggests a feeling of fulfillment, satisfaction, or enjoyment derived from engaging with or participating in the blogosphere, whether through reading, writing, commenting, or interacting with other bloggers content. This phrase implies finding joy, inspiration, or a sense of community within the vast landscape of blogs and online content creation. 
                button: a(href="/")     Back to Home